In [1]:
import pandas as pd
import numpy as np

In [3]:
df= pd.DataFrame(np.arange(1,21).reshape(5,4), index=['Row1', 'Row2', 'Row3', 'Row4', 'Row5'], columns=["Column1", "Column2", "Column3", "Column4"])

In [4]:
df.head()

      Column1  Column2  Column3  Column4
Row1        1        2        3        4
Row2        5        6        7        8
Row3        9       10       11       12
Row4       13       14       15       16
Row5       17       18       19       20

In [5]:
df.to_csv('Test.csv')

In [11]:
df.loc['Row1']

Column1    1
Column2    2
Column3    3
Column4    4
Name: Row1, dtype: int32

In [7]:
type(df.loc['Row1'])

pandas.core.series.Series

In [14]:
df.iloc[0:2,1:3]

      Column2  Column3
Row1        2        3
Row2        6        7

In [15]:
type(df.iloc[0:2,1:3])

pandas.core.frame.DataFrame

In [16]:
df.iloc[:,1:].values

array([[ 2,  3,  4],
       [ 6,  7,  8],
       [10, 11, 12],
       [14, 15, 16],
       [18, 19, 20]])

In [17]:
df.iloc[:,1:].values.shape

(5, 3)

In [18]:
 df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [19]:
df['Column1'].value_counts()

1     1
5     1
9     1
13    1
17    1
Name: Column1, dtype: int64

In [20]:
df['Column1'].unique()

array([ 1,  5,  9, 13, 17])

In [21]:
df['Column2']

Row1     2
Row2     6
Row3    10
Row4    14
Row5    18
Name: Column2, dtype: int32

In [22]:
df[['Column1','Column2']]

      Column1  Column2
Row1        1        2
Row2        5        6
Row3        9       10
Row4       13       14
Row5       17       18

In [25]:
df=pd.read_csv('Test.csv')

In [26]:
df.head()

  Unnamed: 0  Column1  Column2  Column3  Column4
0       Row1        1        2        3        4
1       Row2        5        6        7        8
2       Row3        9       10       11       12
3       Row4       13       14       15       16
4       Row5       17       18       19       20

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5 non-null      object
 1   Column1     5 non-null      int64
 2   Column2     5 non-null      int64
 3   Column3     5 non-null      int64
 4   Column4     5 non-null      int64
dtypes: int64(4), object(1)
memory usage: 248.0+ bytes

In [28]:
df.describe()

         Column1    Column2    Column3    Column4
count   5.000000   5.000000   5.000000   5.000000
mean    9.000000  10.000000  11.000000  12.000000
std     6.324555   6.324555   6.324555   6.324555
min     1.000000   2.000000   3.000000   4.000000
25%     5.000000   6.000000   7.000000   8.000000
50%     9.000000  10.000000  11.000000  12.000000
75%    13.000000  14.000000  15.000000  16.000000
max    17.000000  18.000000  19.000000  20.000000